   {% extends "_layout" %}
    

{% block content %}
   
    <div class="title">
    <h2>product detail</h2>
</div>


<div class="productdetail">
    <div class="detail">
    <img src="img/Youth_Football_Helmet_Red_1500x.webp" alt="">
    <div>
    <p class="merk">Riddle speedflex helm</p>
    <p class="doelgroep">youth</p>
    <p class="prijs">€375,00</p>
    <a href="#"> voeg toe aan winkelwagen</a>
</div>

    </div>
    <div>
        <h3>beschrijving</h3>
        <p class="beschrijving">Een American footballhelm is een essentieel stuk beschermende uitrusting dat is ontworpen om de veiligheid van spelers op het veld te waarborgen. Deze helmen zijn doorgaans gemaakt van stevig polycarbonaat materiaal en voorzien van een schokabsorberende voering aan de binnenkant. Het exterieur is vaak uitgerust met een gestroomlijnd ontwerp dat niet alleen functioneel is maar ook de kenmerkende uitstraling van het American football-spel belichaamt
            De helm is voorzien van een gezichtsmasker, dat in verschillende stijlen kan voorkomen, en een kinband om ervoor te zorgen dat de helm stevig op het hoofd van de speler blijft zitten tijdens het intense spel. Ventilatieopeningen zijn strategisch geplaatst om de luchtstroom te bevorderen en de speler comfortabel te houden tijdens zware inspanningen.
            American footballhelmen zijn niet alleen bedoeld om de impact van botsingen en tackles op te vangen, maar ze zijn ook ontworpen met aandacht voor het gezichtsveld van de speler. Dit stelt de atleet in staat om het speelveld overzichtelijk te zien en effectief te reageren op de dynamiek van het spel.
            Van professionele atleten tot opkomende spelers op lager niveau, de American footballhelm is een cruciaal onderdeel van de uitrusting dat de veiligheid en prestaties op het veld bevordert, en tegelijkertijd de iconische uitstraling van de sport belichaamt.</p>
        </div>
    </div>

        {% endblock %}