{% extends "_layout" %}
    

{% block content %}    
    
    
    <div class="title">
        <h2>Club in de kijker</h2>
    </div>
    <div class="club">
    <img src="img/club in de kijker.png" alt="">
    <h3>Leuven lions</h3>
    <p>Lorem ipsum dolor sit amet. Aut dolorem doloremque qui optio deserunt qui doloribus error qui dicta quia qui
        neque consectetur sed voluptatem praesentium. A iste accusantium et enim libero a dolores inventore id inventore
        doloremque et voluptas dolores sit assumenda similique.
        Et reprehenderit libero ut omnis rerum et eveniet vitae eum voluptates quam aut esse nostrum aut dolorum iure.
        Ab officia accusantium quo odio saepe sit sapiente perspiciatis aut architecto numquam ea asperiores deserunt
        qui perspiciatis autem? Qui pariatur placeat qui commodi minus hic exercitationem assumenda. At error fugiat ut
        error natus hic voluptatum sunt hic voluptas voluptate sit placeat praesentium qui rerum repellendus non sint
        enim.
        Sit natus obcaecati qui illo earum est nesciunt itaque. Non accusantium nisi et voluptas dignissimos est
        inventore sunt.</p>

    <h3>geschiedenis</h3>
    <p>Lorem ipsum dolor sit amet. Aut dolorem doloremque qui optio deserunt qui doloribus error qui dicta quia qui
        neque consectetur sed voluptatem praesentium. A iste accusantium et enim libero a dolores inventore id inventore
        doloremque et voluptas dolores sit assumenda similique.
        Et reprehenderit libero ut omnis rerum et eveniet vitae eum voluptates quam aut esse nostrum aut dolorum iure.
        Ab officia accusantium quo odio saepe sit sapiente perspiciatis aut architecto numquam ea asperiores deserunt
        qui perspiciatis autem? Qui pariatur placeat qui commodi minus hic exercitationem assumenda. At error fugiat ut
        error natus hic voluptatum sunt hic voluptas voluptate sit placeat praesentium qui rerum repellendus non sint
        enim.
        Sit natus obcaecati qui illo earum est nesciunt itaque. Non accusantium nisi et voluptas dignissimos est
        inventore sunt.</p>


        <div class="extra">
            <img src="img/lions kicking.jpg" alt="Lions Kicking">
            <div>
                <h3>Extra</h3>
                <p>
                    Lorem ipsum dolor sit amet. Aut dolorem doloremque qui optio deserunt qui doloribus error qui dicta quia qui
                    neque consectetur sed voluptatem praesentium. A iste accusantium et enim libero a dolores inventore id inventore
                    doloremque et voluptas dolores sit assumenda similique.
                    Et reprehenderit libero ut omnis rerum et eveniet vitae eum voluptates quam aut esse nostrum aut dolorum iure.
                    Ab officia accusantium quo odio saepe sit sapiente perspiciatis aut architecto numquam ea asperiores deserunt
                    qui perspiciatis autem? Qui pariatur placeat qui commodi minus hic exercitationem assumenda. At error fugiat ut
                    error natus hic voluptatum sunt hic voluptas voluptate sit placeat praesentium qui rerum repellendus non sint
                    enim.
                    Sit natus obcaecati qui illo earum est nesciunt itaque. Non accusantium nisi et voluptas dignissimos est
                    inventore sunt.
                </p>
            </div>
        </div>
        <div class="extern">
        <a class="website" href="#">Ga naar de website</a>
    </div>

    {% endblock %}