{% extends "_layout" %}
    

{% block content %}
    
    <div class="title">
    <h2>Our products</h2>
</div>

<div class="products">
<div class="product">
    <img src="img/Youth_Football_Helmet_Red_1500x.webp" alt="">
    <p>Riddle speedflex helm</p>
    <p>youth</p>
    <p>€375,00</p>
    <a href="detail.html">kom meer te weten</a>
    <a href="#"> voeg toe aan winkelwagen</a>
</div>
<div class="product">
    <img src="img/Youth_Football_Helmet_Red_1500x.webp" alt="">
    <p>Riddle speedflex helm</p>
    <p>youth</p>
    <p>€375,00</p>
    <a href="detail.html">kom meer te weten</a>
    <a href="#"> voeg toe aan winkelwagen</a>
</div>
<div class="product">
    <img src="img/Youth_Football_Helmet_Red_1500x.webp" alt="">
    <p>Riddle speedflex helm</p>
    <p>youth</p>
    <p>€375,00</p>
    <a href="detail.html">kom meer te weten</a>
    <a href="#"> voeg toe aan winkelwagen</a>
</div>

</div>

{% endblock %}
